BOT_TOKEN='TOKEN'
# Not used in opensource version
BOT_IP=127.0.0.1
SERVER_URL=''
DOMAIN='localhost'
USE_WEBHOOK=False
ADMIN=222222
# Not used without domain
MARZ_HAS_CERTIFICATE=True
CERT_FULLCHAIN_PATH=''
CERT_KEY_PATH=''